/* Utilities START*/
.container {
  max-width: 1440px;
  width: 900px;
  margin: 0 auto;

  /* border: 1px solid white; */
}

.t-shadow{
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


.flex-col {
  display: flex;
  flex-direction: column;
}
/* Utilities END */


#root {
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid white; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100dvh;
  overflow: auto;  
  scrollbar-gutter: stable;

  /* border: 1px solid yellow; */
}

.bg-image{
  height: 100%;
  
  background-image: url("https://wallpaperaccess.com/full/3203467.jpg");
  background-size: cover;
}

.welcome {
  width: 80%;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.selection {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.selector {
  font-size: 1.5rem;
  width: 15ch;
  padding: 0.5em 0.75em;
  border-radius: 10px;
}

.selector:hover,
.selector:focus {
  cursor: pointer;
  opacity: 0.75;
}

.selector:active {
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5) inset;
}